.e
{
    border:none;
    /*width:300px;*/
}
.z
{
    border:none;
    width:250px;
    border-bottom: 1px solid black;
}
.v
{
    border:none;
    width:185px;
}
.b
{
    border:none;
    width:300px;
}
.i
{
    border:none;
    width:500px;
    /*border-bottom: 1px solid black;*/
}
.f
{
    border:none;
    width:450px;

}
.j
{
    border:none;
    width:250px;

}
.g
{
    border:none;
    width:550px;
    /*width:400px;*/
    /*border-bottom: 1px solid black;*/

}
.k
{
    border:none;
    width:98px;
    /*width:400px;*/
    /*border-bottom: 1px solid black;*/

}
.l
{
    border:none;
    width:145px;
    /*width:400px;*/
    /*border-bottom: 1px solid black;*/

}
.lm
{
    border:none;
    width:180px;
    /*width:400px;*/
    /*border-bottom: 1px solid black;*/

}
.m
{
    border:none;
    width:78px;
    /*width:400px;*/
    /*border-bottom: 1px solid black;*/

}
section
{
    margin-top:5px;
    margin-left:790px;
}
.errorClass { border:  1px solid red; }
