
.box
{
    border:1px solid blue;margin:0 auto;
    /* width:980px; */
}
.active_tab1
{
    background-color: #fff;
    color:#333;
    font-weight:600px;
}
.inactive_tab1
{
    background-color: #f5f5f5;
    color:#333;
    cursor: not-allowed;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:450px;

}
/*Added By Suraj for image*/
.choose-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.choose-img input {
    margin: 0 auto;
}
.nav-item
{
    margin-left:2px;
    width:136px;
}
#btn_Addtional_details{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.nav-item1
{
    margin-left:2px;
    width:275px;
}
/*.show{*/
/*    display:none;*/
/*}*/
.hide {
    display: none;
}
.btn1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
