.e
{
    width:300px;
    border:none;
}
.f
{
    width:250px;
    border:none;
}
.g
{
    width:230px;
    border:none;
}
.ef
{
    width:30px;
    border:none;
}
.eg
{
    width:160px;
    border:none;
}
.eh
{
    width:150px;
    border:none;
}
.z
{
    border:none;
    width:250px;
    border-bottom: 1px solid black;
}
section
{
    margin-top:5px;
    margin-left:790px;
}
#uppercase { text-transform: uppercase; }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
input[type="text"], input[type="password"], textarea, select {
    outline: none;
}