<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KYC FORM</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap core CSS -->

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style1.css}">
    <script src="js/myscripts.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v3.min.css"
          rel="stylesheet" type="text/css"/>
    <script src="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v3.min.js"
            type="text/javascript"></script>


</head>
<style>
    .box {
        margin: 0 auto;
        height: 100vh;
        background-color: gainsboro;
    }
</style>
<body>
<div class="container box">
    <form method="POST" th:action="@{/selectForm}"   th:autocomplete="off"
          data-toggle="validator" role="form" name="myform">
        <div class="row">
            <div class="col-md-12" style="margin-top: 250px;">
                <label for="selectLevel"><b>Select For which you have to fill kyc form</b></label>
                <select class="form-control" id="selectLevel" name="selectLevel">
                    <option th:each="bank:${bankList}" th:text="${bank.getDisplay()}"
                            th:value="${bank.getType()}"></option>


                </select>
            </div>
        </div>








                    <div id ="brokerType"  class="col-md-6" style="margin-top: 250px;">
                <label><b>Select</b></label>
                <select class="form-control" id="selectSubject1" name="selectSubject">
                    <option th:each="broker:${brokerList}" th:text="${broker.getDisplay()}"
                            th:value="${broker.getType()}"></option>
                </select>
            </div>

            <div id ="bankType" class="col-md-6" style="margin-top: 250px;display: none;">
                <label><b>Select</b></label>
                <select class="form-control" id="selectSubject2" name="selectSubject">
                    <option th:each="bank:${bankList}" th:text="${bank.getDisplay()}"
                            th:value="${bank.getType()}"></option>
                </select>
            </div>

<br>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" id="submit" value="Submit" style="margin-top:2px">
            </div>
        </div>
    </form>
</div>
</body>
</html>

            <script>
                $(document).ready(function () {
                    $('#selectLevel').on('change', function () {
                        var selectLevel = $(this).val();
                        if (selectLevel==="BROKER"){
                            $('#brokerType').show();
                            $('#bankType').hide();
                        }
                        else {
                            $('#brokerType').hide();
                            $('#bankType').show();
                        }
                    });
                });

            </script>


