<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TabKYC FORM</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap core CSS -->

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style1.css}">
    <script src="js/myscripts.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>
<style>
    body
    {
        background-color:gainsboro;
    }
    .card
    {

        margin-left: auto;
        margin-right: auto;
        margin-top:200px;
    }
    .btn {
        background-color: #21b328; /* Green */
        border: none;
        color: rgb(17, 2, 2);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 30%;
    }
</style>
<body>
<div class="container" style="width:550px;height:450px;">
    <div class="card">
        <div class="card-body">
            <div th:if="${message}" class="alert alert-success" role="alert" th:text="${message}"></div>
            <p class="card-text"><b>KYC FORM</b></p>
            <!-- <a href="#" class="btn">Generate PDF</a> -->
            <div class="row">
                <div class="col-md-4">
                    <!--                    <button class="btn">Cancel</button>-->
                    <a th:href="@{/}" class="btn">Cancel</a>
                </div>
                <div class="col-md-2">
                    <!--                    <button class="btn">Generate PDF</button>-->
                    <a th:href="${'/bankpdf/'+clientDetailsId+'/'+bank}" class="btn">Generate PDF<img src="../static/images/pdf.png" style="width:40px;"></a>
<!--                    <a th:href="@{/bankpdf/{id}(id=${clientDetailsId})/{name}(name=${bank})}" class="btn">Generate PDF<img src="../static/images/pdf.png" style="width:40px;"></a>-->
<!--                    <a th:href="${/bankpdf/companydashboard?cid='+cmp.getCompanyId()}" class="btn">Generate PDF<img src="../static/images/pdf.png" style="width:40px;"></a>-->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>