<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MegaBank KYC FROM</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap core CSS -->

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <script src="js/myscripts.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnPrint').click(function () {
                $('#btnPrint').hide();
                var css = '@page{size: a4;}';
                head = document.head || document.getElementsByTagName('head')[0];
                style = document.createElement('style');
                style.type = 'text/css';
                style.media = 'print';
                if (style.styleSheet) {
                    style.styleSheet.cssText = css;
                } else {
                    style.appendChild(document.createTextNode(css));
                }
                head.appendChild(style);
                window.print();

            });
        });
    </script>

</head>
<body>
<div class="container" style="width:67%;">
    <section>
        <button type="button" id="btnPrint" class="btn btn-info btn-lg">Print</button>
    </section>

    <div class="panel-body">
        <div class="form-group">
            <!--Cliennt Deatils-->
            <div class="form-row">
                <div class="col-xs-8"style="height:15px;margin-top:10px;">
                    <h2><b>Mega Bank Nepal Limited</b></h2>
                    <br>
<!--                    <h4 style="margin-left:70px;">KYC Details for Individual Account</h4>-->
                </div>


                <div class="col-xs-4" style="height:15px;margin-top:3px;">
                    <div style="height:20px;margin-left:500px;margin-bottom:20px;">
                        <img alt="Image" width="100" height="100"
                             style="alignment: left;margin-left: 100px;"
                             th:src="*{'data:image/jpg;base64,'+image}"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="panel-heading"><h1 class="text-center bg-dark text-white" style="margin-top:40px;">
        <strong>Details</strong>
    </h1></div>
    <br>
    <div class="panel-body">
<!--        <div class="form-row">-->
<!--            <div class="col-xs-4" style="margin-top:15px;">-->
<!--                <label><b>Account Title:</b></label>-->
<!--                <input th:value="${clientDetails.get().getTitle_type()}" class="eg">-->
<!--            </div>-->

<!--            <div class="col-xs-4" style="margin-top:15px;">-->
<!--                <label><b>Account No:</b></label>-->
<!--                <input th:value="${clientDetails.get().getAccount_no()}" class="eg">-->

<!--            </div>-->


<!--            <div class="col-xs-4" style="margin-top:15px;">-->
<!--                <label><b>Date of Birth:</b></label>-->
<!--                <input type="text" th:value="${clientDetails.get().getBirth_date0()}" class="eg">-->

<!--            </div>-->
<!--        </div>-->


<!--        <br>-->

        <div class="form-row">
            <div class="col-xs-4">
                <label><b>1)</b></label>
                <label><b>FirstName:</b></label>

                <input type="text" th:value="${clientDetails.get().getFirst_name()}" class="eg" id="uppercase"readonly>
<!--                <span th:text="${clientDetails.get().getFirst_name()}"  id="uppercase"style="width:150px"></span>-->

            </div>
            <div class="col-xs-4">
                <label><b>MiddleName:</b></label>

                <input type="text" th:value="${clientDetails.get().getMiddle_name()}" class="eg" id="uppercase"readonly>
<!--                <span th:text="${clientDetails.get().getMiddle_name()}"  id="uppercase"style="width:160px"></span>-->

            </div>
            <div class="col-xs-4">
                <label><b>SurName:</b></label>

                <input type="text" th:value="${clientDetails.get().getSur_name()}" class="eg"id="uppercase"readonly>
<!--                <span th:text="${clientDetails.get().getSur_name()}" id="uppercase"style="width:120px" ></span>-->



            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-xs-6">
            <label><b>Gender:</b></label>
            <input type="text" th:value="${clientDetails.get().getGender()}" class="e"readonly>
            </div>
            <div class="col-xs-6">
                <label><b>Martial Status:</b></label>
                <input type="text" th:value="${clientDetails.get().getMartialStatus()}" class="e"readonly>
            </div>
        </div>
        <br>
        <label><b>2.a)</b></label>
        <label><h4><b>Present Address</b></h4></label>
        <div class="form-row">
            <div class="col-xs-4">
                <label><b>District:</b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getTemp_district()}" class="eg"readonly>
            </div>
            <div class="col-xs-4">
                <label><b><input type="text" style="font-weight: bold;"
                                 th:value="${clientDetails.get().getClientAddress().getTemp_municipality().getDisplay()}"
                                 class="eg"><b>:</b></b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getTemp_mun()}" class="eg"readonly>
            </div>

            <div class="col-xs-4">
                <label><b>Ward No:</b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getTemp_ward()}" class="ef"readonly>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-xs-4">
                <label><b>Street:</b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getStreet()}" class="e"readonly>
            </div>
            <div class="col-xs-6">
                <label><b>House No:</b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getPer_house_no()}" class="e"readonly>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-xs-4">
                <label><b>House No:</b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getTemp_house_no()}" class="eg"readonly>

            </div>
            <div class="col-xs-4">
                <label><b>Telephone No:</b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getTemp_telephone_no()}" class="eg"readonly>

            </div>
            <div class="col-xs-4">
                <label><b>Mobile No:</b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getMobile_no()}" class="eg" readonly>
            </div>

        </div>
    <br>
        <div class="form-row">
            <div class="col-xs-6">
                <label><b>Email-Address:</b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getEmail()}" class="e" readonly>

            </div>
            <div class="col-xs-6">
                <label><b>Website:</b></label>
                <input type="text" th:value="${clientDetails.get().getClientAddress().getWebsite()}" class="e" readonly>

            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-xs-4">
                <label><b>3)</b></label>
                <label><b>Citizenship No:</b></label>
                <input type="text" th:value="${clientDetails.get().getCitizenship_no()}" style="width:200px;border:none;"readonly>
            </div>
            <div class="col-xs-4">
                <label><b>Issuing District:</b></label>
                <input type="text" th:value="${clientDetails.get().getIssue_district()}"style="width:130px;border:none;"readonly>
            </div>
            <div class="col-xs-4">
                <label><b>Issuing Date:</b></label>
                <input type="text" th:value="${clientDetails.get().getIssue_date()}" class="eg"readonly>
            </div>


            </div>

        <p style="text-align:center"><b>OR</b></p>
        <div class="form-row">
            <div class="col-xs-4">
                <label><b>4)</b></label>
                <label><b>Passport No:</b></label>
                <input type="text" th:value="${clientDetails.get().getPassport_no()}" style="width:200px;border:none;"readonly>

            </div>
            <div class="col-xs-4">
                <label><b>Issue District:</b></label>
                <input type="text" th:value="${clientDetails.get().getPassport_issue_district()}" style="width:130px;border:none;"readonly>

            </div>
            <div class="col-xs-4">
                <label><b>Issue Date:</b></label>
                <input type="text" th:value="${clientDetails.get().getPassport_issue_date()}" class="eg"readonly>

            </div>

        </div>
        <p style="text-align:center"><b>OR</b></p>
        <div class="form-row">
            <div class="ccol-xs-12">
                <label><b>5)</b></label>
                <label><b>Identification(Introducted by Account holder,only for nepalese citizen)</b></label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-6">
                <label><b>Type of  Certificate:</b></label>
                <input type="text" th:value="${clientDetails.get().getIdentification_card_name()}" style="width:180px;border:none;"readonly>
            </div>

                <div class="col-xs-6">
                    <label><b>Identification Cert. No:</b></label>
                    <input type="text" th:value="${clientDetails.get().getIdentificaton_number()}" style="width:180px;border:none;"readonly>

            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-6">
                <label><b>Issuing District:</b></label>
                <input type="text" th:value="${clientDetails.get().getIdentification_issue_district()}" style="width:180px;border:none;"readonly>
            </div>

            <div class="col-xs-6">
                <label><b>Issue Date:</b></label>
                <input type="text" th:value="${clientDetails.get().getIdentification_issue_date()}" style="width:180px;border:none;"readonly>

            </div>
        </div>
        </br>
        <label><b>6)</b></label>
        <label><b>Incase of forign National:</b></label>
        <div class="form-row">
            <div class="col-xs-6">

                <label><b>Passport No:</b></label>
                <input type="text" th:value="${clientDetails.get().getForigen_passport_no()}" class="e"readonly>
            </div>
            <div class="col-xs-6">
                <label><b>Issue Country:</b></label>
                <input type="text" th:value="${clientDetails.get().getForigen_passport_issue_country()}" class="e"readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-6">
                <label><b>Issued Date:</b></label>
                <input type="text" th:value="${clientDetails.get().getForigen_passport_issue_date()}" class="e"readonly>
            </div>
            <div class="col-xs-6">
                <label><b>visa Expiry Date:</b></label>
                <input type="text" th:value="${clientDetails.get().getForigen_visa_expiry_date()}" class="e"readonly>
            </div>

        </div>
        <br>
        <label><b>7)</b></label>
        <label><b>Name,Address and Telephone Number of Landlord in case of Living rent</b></label>
        <div class="form-row">

            <table>
                <tr>
                    <th>Name,surname of Landlord</th>
                    <th>Address</th>
                    <th>Telephone Number</th>
                </tr>
                <tr>
                    <td><input type="hidden" th:text="${clientDetails.get().getClientAddress().getTemp_house_owner_name()}" class=""></td>
                    <td><input  type="hidden" th:text="${clientDetails.get().getClientAddress().getTemp_house_owner_address()}" class=""></td>
                    <td <input  type="hidden" th:text="${clientDetails.get().getClientAddress().getTemp_house_owner_phone_no()}"class=""></td>
                </tr>

            </table>

        </div>
        <br>
        <div class="form-row">
          <div class="col-xs-6">
        <label><b>8)</b></label>
        <label class="e"><b>Family Details:</b></label>
          </div>
            <div class="col-xs-6">
                <label class="e"><b>Total number of Family Member:</b></label>

            </div>
        </div>
        <br>
        <div class="form-row" >
            <table>
                <tr>
                    <th>Family Members Name</th>
                    <th>RelationShip</th>
                    <th>Citizenship No</th>
                </tr>

                <tr th:each="ff:${clientDetails.get().familyDetails.family_members}">

                    <td th:text="${ff.family_name}"></td>
                    <td th:text="${ff.relation}"></td>
                    <td th:text="${ff.citizen_ship_no}"></td>

                </tr>




            </table>
        </div>

        <br>
        <div class="form-row">
            <div class="col-xs-12">
                <label><b>9)</b></label>
                <label><b>Employment/Business Details:</b></label>
            </div>
        </div>

        <div class="form-row" >
            <table>
                <tr>
                    <th>Name of Entity</th>
                    <th>Address</th>
                    <th>Position</th>
                    <th>Estimated Annual income</th>


                </tr>

                <tr th:each="ff:${clientDetails.get().associatedProfession.associatedProfessionDetails}">

                    <td th:text="${ff.organization_name}"></td>
                    <td th:text="${ff.organization_address}"></td>
                    <td th:text="${ff.designation}"></td>
                    <td th:text="${ff.expected_annual_income}"></td>
                </tr>




            </table>
        </div>


    <br>
        <div class="form-row">
            <div class="col-xs-12">
                <label><b>10)</b></label>
                <label><b>Permanent Account Number(PAN):</b></label>
                <input type="text"th:value="${clientDetails.get().getPermanent_account_no()}" class="e"readonly>
                             </input>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-xs-12">
                <label><b>11)</b></label>
                <label><b>Education:</b></label>
                <input type="text" th:value="${clientDetails.get().getEducation_type()}" class="e"readonly>
                </input>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-xs-12">
                <label><b>12)</b></label>
                <label><b>I have Bank Account in other Bank or Financial institution:</b></label>
                <label><b>Yes/No</b></label>

            </div>
            <div class="col-xs-12">
                <label><b>13)</b></label>
                <label><b>I have Been convicted in any Criminal activities in the past:</b></label>
                <label><b>Yes/No</b></label>

            </div>
        </div>
        <br>
        <div class="form-row">
            <p><b>Following documents have been enclosed as proof of identification while opening the account
                with this Bank(Please Tick Mark the documents enclosed)</b></p>
            <p><b>a)Recent PP size photo</b></p>
            <p><b>b)Attested copy of Citizenship Certificate or Passport</b></p>
            <p><b>c)Copy of employee Id card,if employed by authorithy/entity</b></p>
            <p><b>d)Attested copy of Passport for Foreign National with valid visa</b></p>
            <p><b>e)Recommendation Letter of Indian Embassy for Indian National not having passport</b></p>
            <p><b>f)Copy of identification certificate issued by Nepal goverment(in case of refugee)</b></p>
            <p><b>g)Copy of Birth Certificate Issued by local registar(In case of minor)</b></p>
            <p><b>h)NRN identication certificate issued by Nepal goverment(in case of Non-resident Nepalese)</b></p>
            <p><b>i)Copy of employee ID Card,if employed in goverment grant affiliated School High School and
            University as Staff teacher or lecturer,Professor</b></p>
            <p><b>j)Photocopy of documents certifying:water/electricity bill pais receipts/Voter's Id/card/Land
            Ownership certificate/self declared location map in favor of indiviual livibf in a rent</b></p>
        </div>
        <br>
        <div class="form-row">
            <p><b>I hereby aggree to provide the changes along with supporting
            document if any,on above furnished details to the bank by me during the account
            opening process.The Bank shall not be hold liable/responsible for any consequence arises due to non
            -availing information to the Bank.</b></p>
            <p><b>I hereby declare that all transaction to be made with my account will be as per prevailing laws.
            All information and documents provided herein above are true and correct,if it is proved wrong,will face
                legal consequences.</b></p>
        </div>
        <div class="form-row">
            <div class="col-xs-12">

                <input type="text" class="z" readonly>
                <p><b>Signature of Account Holder</b></p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-4">
                <label><b>Date:</b></label>
                <input type="text" th:value="${clientDetails.get().getAssociatedProfession().getDate()}" class="eg"readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-12">
                <p><b>Note:(Applicant has to present original document for verification by Bank Staff)</b></p>
            </div>
        </div>









<!--        </div>-->
<!--        <br>-->
<!--        <p><b>Information/Details and documents furnished by me/us to update and above mentioned account opened earlier-->
<!--            by by-->
<!--            me/us in Agricultural Development bank Ltd are true and correct.I/we agree all the terms and conditions of-->
<!--            the Bank in-->
<!--            relation to opening of account.I/We accept any action taken by the bank in accordance with law, if any of-->
<!--            information/details-->
<!--            and document furnished herein above is found to br false.</b></p>-->
<!--        <br>-->
<!--        <div class="form-row">-->
<!--            <div class="col-xs-4">-->
<!--                <label><b>Full Name:</b></label>-->
<!--                <input type="text" th:value="${clientDetails.get().getAssociatedProfession().getFull_name()}"-->
<!--                       class="eg">-->
<!--            </div>-->
<!--            <div class="col-xs-4">-->
<!--                <label><b>Code No:</b></label>-->
<!--                <input type="text" th:value="${clientDetails.get().getAssociatedProfession().getCode_no()}" class="eg">-->
<!--            </div>-->
<!--            <div class="col-xs-4">-->
<!--                <label><b>Date:</b></label>-->
<!--                <input type="text" th:value="${clientDetails.get().getAssociatedProfession().getDate()}" class="eg">-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->
<!--        <div class="form-row">-->
<!--            <div class="col-xs-12">-->

<!--                <input type="text" class="z">-->
<!--                <p><b>Signature</b></p>-->
<!--            </div>-->
<!--        </div>-->


<!--    </div>-->


</div>

</body>
</html>









